.login {
    width: 100%;
    height: 100vh;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    max-width: 70%;
    height: 70%;
    display: flex;
}

@media (max-width: 780px) {
    .loginWrapper {
        flex-direction: column;
        gap: 3rem;
    }
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;

}

.loginBox {
    height: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #1775ee;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.loginRegisterButton {
    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background: #42b72a;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}